@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #545be8;
  --heading-color: #141e32;
  --sub-heading-color: #ffffff;
  --secondery-color: #f0c932;
  --background-color: #f5f5f5;
  --preghraph1-color: #969696;
  --preghraph2-color: #dddddd;
  --font-family-base: "Poppins", sans-serif;
  --font-family-secondery: "Inter", sans-serif;
}
a {
  text-decoration: none;
  font-family: var(--font-family-secondery);
}
ul {
  list-style-type: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container {
  width: 80%;
  margin: 0 auto;
}
body{
    font-family: var(--font-family-base);
}
.active{
    font-weight: 900;
}